{% extends 'base.html' %} {% load static %} {% load bootstrap5 %}

{% block content %}
  <div class="container" style="position:relative">
    <div class="project-img">
      <img src="{{project.screenshot.url}}" class="img-responsive" alt="project screenshot" style="width:100%;height100%;">
    </div>
    <div class="project-details pt-5">
      <h1 class="text-center"><b>{{project.name}}</b></h1>
      <div class="row">
        <div class="col-md-2"></div>
        <div class=" col-md-2">
          <div class="progress green">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">{{design}}</div>
          </div>
          <h2 class="text-center">Design</h2>
        </div>
        <div class=" col-md-2">
          <div class="progress light">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">{{usability}}</div>
          </div>
          <h2 class="text-center">Usability</h2>
        </div>
          <div class=" col-md-2">
          <div class="progress pink">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">{{content}}</div>
          </div>
          <h2 class="text-center">Content</h2>
        </div>
        <div class=" col-md-2">
          <div class="progress red">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">{{averageRating}}</div>
          </div>
          <h2 class="text-center">Average</h2>
        </div>
        <div class=" col-md-2"></div>
      </div>
      <br>
      <div class="text-center">
        <p><b>Project description:</b>{{project.description}}</p>
        <p><b>Main technology used:</b>{{project.main_technology_used}}</p>
        <p><b>Posted on:</b> {{project.date_added}}</p>
        <p><b>By:</b> {{project.project_owner.username}}</p>
        <a href="{{project.live_link}}" target="_blank" style="text-decoration:none;"><i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
{% endblock content %}